h2 {
    color: brown;
}

.list {
    list-style-type: square;
    list-style-position: outside;
    text-align: center;
    text-decoration: dotted;
    text-transform: uppercase;
}

.header {
    color: blue;
    font-size: 20px;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
}

.main_header {
    border-color: aquamarine;
    background-color: azure;
    color: black;
    border-width: 10px 5px 3px 4px;
    border-style: solid;
}

.header-about {
    border-color: aquamarine;
    color: darkmagenta;
    border-width: 10px 22px 4px 5px;
    border-style: solid;
    background-color: wheat;
}

p.inh {
    color: inherit;
}